# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Certificados Let's Encrypt
nginx/certbot/live/
nginx/certbot/archive/
nginx/certbot/renewal/
nginx/certbot/conf/
*.pem

# Environment files
/.env
